# Runtime data
.oraicli/
.oraid/
.oraifiles/
.images/
.websocket/
.vscode/
cosmosjs/node_modules/
images/
cosmosjs/.uploads/

signedTx.json
unsignedTx.json
test.json
go.sum
cosmosjs/package-lock.json
cosmosjs/.env