go 1.21

toolchain go1.21.4

use (
	./interchaintest
	./orai
	./oraivisor
)

replace (
	github.com/CosmWasm/wasmd => github.com/oraichain/wasmd v0.30.2-0.20240729102409-91ec1f5fdc6c
	github.com/cosmos/cosmos-sdk => github.com/oraichain/cosmos-sdk v0.45.17-0.20240822154747-4cc2e82d6f68
)
