go 1.19

use (
	./interchaintest
	./orai
	./oraivisor
)

replace (
	// fork wasmd so that we have legacy wasm types
	github.com/CosmWasm/wasmd => github.com/oraichain/wasmd v0.30.2-0.20230822113616-27ffe7fdd4d1
	// go list -m -json github.com/oraichain/wasmvm@main | jq '.|"\(.Path) \(.Version)"' -r
	github.com/CosmWasm/wasmvm => github.com/oraichain/wasmvm v1.2.4
	google.golang.org/grpc => google.golang.org/grpc v1.33.2
)
