version: '3.3'
services:
  validator1:
    container_name: validator1
    image: oraichain/foundation-orai:0.41.4-alpine-prod # one version lower so we can test the network upgrade
    working_dir: /workspace
    tty: true
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - 1317:1317
      - 26656:26656
      - 26657:26657
      - 9090:9090
    cap_add:
      - SYS_PTRACE
    volumes:
      - ./:/workspace

  validator2:
    container_name: validator2
    image: oraichain/foundation-orai:0.41.4-alpine-prod
    working_dir: /workspace
    tty: true
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - 3317:1317
      - 36656:26656
      - 36657:26657
      - 3090:9090
    cap_add:
      - SYS_PTRACE
    volumes:
      - ./:/workspace

  validator3:
    container_name: validator3
    image: oraichain/foundation-orai:0.41.4-alpine-prod
    working_dir: /workspace
    tty: true
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - 4317:1317
      - 46656:26656
      - 46657:26657
      - 4090:9090
    cap_add:
      - SYS_PTRACE
    volumes:
      - ./:/workspace